<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul *ngIf="villes" class="list-group">
                <li [ngClass]="v==currentVille?'active':''" *ngFor="let v of villes._embedded.villes" class="list-group-item clickable  " (click)="onGetCinemas(v)">
                   {{v.name}}
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Liste des Cinemas</div>
                <div class="panel-body">
                    <ul *ngIf="cinemas" class="nav nav-pills mb-3">
                        <li [ngClass]="c==currentCinema?'active':''" *ngFor="let c of cinemas._embedded.cinemas" (click)="onGetSalles(c)" class="clickable">
                            <a> {{c.name}}</a>
                        </li>
                    </ul>
                    <div *ngIf="salles" class="row">
                      <div *ngFor="let s of salles._embedded.salles">
                        <div class="col-md-6">
                          <div class="panel panel-default">
                            <div class="panel-heading">{{s.name}}</div>
                            <div class="panel-body" *ngIf="s.projections">
                              <div class="row d-flex justify-content-between">
                                <div class="col-md-4">
                                  <img width="100" src="{{cinemaService.host+'/imageFilms/'+s.projections._embedded.projections[0].film.id}}"  >
                                </div>
                                <div class="col-md-8">
                                  <ul class="list-group">
                                    <li class="list-group-item">Seances: </li>
                                    <li [ngClass]="p==currentProjection?'active':''" (click)="getTicketsPlace(p)" *ngFor="let p of s.projections._embedded.projections" class="list-group-item clickable">
                                      {{p.seance.heureDebut}} ••• Prix : {{p.prix|number:'0.00'}}€
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div *ngIf="currentProjection">
                                <div *ngIf="currentProjection.salle.id==s.id">
                                  <div *ngIf="currentProjection.tickets">
                                    <div class="row tickets" *ngIf="currentProjection.tickets">
                                      <button (click)="onSelectTicket(t)" class="{{getTicketClass(t)}}" [disabled]="t.reserve==true" *ngFor="let t of currentProjection.tickets._embedded.tickets">
                                        {{t.place.numero}}
                                      </button>
                                    </div>
                                      <div *ngIf="selectedTickets.length > 0">
                                        <form #f="ngForm" (ngSubmit)="onPayTickets(f.value)" >
                                          <div class="form-group">
                                            <label for="nomClient" class="control-label">Nom :</label>
                                            <input type="text" id="nomClient" name="nomClient" required  class="form-control" ngModel >
                                          </div>
                                          <div class="form-group">
                                            <label for="code" class="control-label">Code :</label>
                                            <input type="text" id="code" name="code" required class="form-control" ngModel >
                                          </div>
                                          <button type="submit" class="btn btn-success">Submit</button>
                                        </form>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
